<h1>All your lists.</h1>
<table class="table table-striped">
  <tr><strong><h3>List name:</h3></strong></tr>
    <% current_user.lists.each do |l| %>
      <tr>
        <td class="single"><%= link_to list_path(l) do %><%= l.name %><% end %></td>
        <td align="right" class="single">
          <%= link_to list_path(l) do %><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><% end %>

          <%= link_to list_path(l), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><% end %>
        </td>
      </tr>
  <% end %>
</table>
<br>
<%= link_to "+ Create new list", new_list_path %>
