<h3>Create a new list:</h3>
<br>
<div class="col-md-2">
  <%= form_for :list do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :maxlength => 55, :required => true %>
        <%= f.submit "Create", class: "btn btn-default" %>
      </p>
  <% end %>
</div>
