
<br>
<table class="table table-striped" style="width:50%">
  <tr><strong><h3><%= @list.name %>:</h3></strong></tr>
    <% @list.todos.each do |todo| %>
      <% if todo.done == false %>
          <tr>
            <td class="single"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> <%= todo.body %></td>
            <td align="right" class="single">
              <%= link_to [todo.list, todo], method: :put do %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><%end%>
              <%= link_to [todo.list, todo], method: :delete,data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><%end%></td>
          </tr>
      <% end %>
    <% end %>
</table>
<br>

<p>Add a new todo:</p>
<div class="row">
  <div class="col-md-2">
    <%= form_for([@list, @list.todos.build], :html => {:class => "form-inline"}) do |f| %>
      <div class="form-group">
        <div class="input-group">
          <%= f.text_area :body, :required => true, :maxlength => 60 %>
          <%= f.submit "Submit", class: "btn btn-default" %>
        </div>
      </div>
    <%end%>
	</div>
</div>

<br><br>

<table class="table table-striped" style="width:50%">
  <tr><strong>DONE:</strong></tr>
    <% @list.todos.each do |todo| %>
      <% if todo.done == true %>
          <tr>
            <td class="single"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= todo.body %></td>
      <% end %>
      </tr>
    <% end %>
</table>
