<div class="center jumbotron">
  <h1>Welcome to <i>Simply Do.</i></h1>
  <br>
	<h3>New to <i>Simply Do</i>? Then do sign up.</h3>
	<br>
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
				<%= form_for(@user) do |f| %>

					<%= render 'shared/error_messages' %>
					<%= f.label "Name:" %>
					<%= f.text_field :name,  placeholder:"Full Name", class: 'form-control'  %>

					<%= f.label "username:" %>
					<%= f.text_field :username, placeholder:"username",class: 'form-control'  %>

					<%= f.label "email:" %>
					<%= f.email_field :email, placeholder:"email@domain.com" , class: 'form-control'%>

					<%= f.label "password:" %>
					<%= f.password_field :password,  placeholder:"password", class: 'form-control'  %>

					<%= f.submit "Submit", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
	<br><br>
	<p>
		<%= link_to "Log in", root_path %>
	</p>
</div>
