<div class="center jumbotron">
  <h1>Welcome to <i>Simply Do</i></h1>
  <% if not logged_in? %>
    <h1>
      <small>Sign in</small>
    </h1>
  <br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span> Remember me</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
<br>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>
</div>
