<footer class="footer">
  <nav>
   <p align="right">
     <small>
       <%= link_to "About", about_path %> -
       Simply Do © 2015 <a href="http://wwww.upalela.com">Upalela</a>
     </small>
    </p>
  </nav>
</footer>
