<header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <%= link_to "Simply Do", root_path, id: "logo" %>
        <nav>
           <ul class="nav navbar-nav">
			      <% if logged_in? %>
	            	<li><%= link_to "Lists", lists_path %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <li><%= link_to "+", new_list_path %></li>
        		<% else %>
              <li><%= link_to "Sign up", signup_path %></li>
            <% end %>
      	  </ul>
        </nav>
      </div>
</header>
